form{
	margin: 40px;
	border-left:1px solid #ddd;
	background-color: transparent;
	 color: #fff;
	 padding-left: 10px;
	font-family: 'Cloister';
	font-size: 20px;
}

input,textarea{
	border:none;
	background-color: :transparent;
	background-image: url(http://habitaremadeiras.tk/assets/images/banner.jpg);
	background-attachment: fixed;
   

}

