@font-face {
	font-family: 'Cloister';
	src: url('https://r7webdesign.com/fonts/glyphicons-halflings-regular.woff2');
	src: url('https://r7webdesign.com/fonts/Freehand521BT-RegularC.eot?#iefix') format('embedded-opentype'),
		url('https://r7webdesign.com/Freehand521BT-RegularC.woff') format('woff'),
		url('http://localhost/shop/assets/images/CloisterBlack-Light.woff2') format('woff');
	font-weight: normal;
	font-style: italic;
}


body{

 

 
} 